.navbar-container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navlinks {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar-buttons {
    display: flex;
    gap: 10px;
}

/* Collapsible Navbar Styles */
.navbar-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #000;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-toggle {
        display: block;
    }

    .navlinks,
    .navbar-buttons {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .navlinks.open,
    .navbar-buttons.open {
        display: flex;
    }

    .navlinks li {
        margin-bottom: 10px;
    }

    .get-in-touch,
    .start-chatting {
        padding: 10px;
        width: 100%;
    }
}
