.navbar-container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #3E4E50;;
    align-items: center;
    color: #FACFAD;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.logo a {
    color: #FACFAD;
}

.navlinks {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar-buttons {
    display: flex;
    gap: 10px;
}

/* Collapsible Navbar Styles */
.navbar-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #FACFAD;
}

.navbar-buttons .get-in-touch {
    background-color: transparent;
    border: 1px solid #FACFAD;
    color: #FACFAD;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 4px;
}

.navbar-buttons .start-chatting {
    background-color: #F5AC72; /* Accent color for primary button */
    padding: 5px 15px;
    border: none;
    color: #3E4E50;
    cursor: pointer;
    border-radius: 6px;
}

.navbar-toggle {
    color: #FACFAD; /* Light color for the hamburger icon */
}

.navlinks a:hover
{
    color: #f87f7f;
}
.get-in-touch:hover{
    border-color: #f87f7f;
    color: #f87f7f;
}

.start-chatting:hover {
    background-color: #f87f7f;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-toggle {
        display: block;
    }

    .navlinks,
    .navbar-buttons {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .navlinks.open,
    .navbar-buttons.open {
        display: flex;
    }

    .navlinks li {
        margin-bottom: 10px;
    }

    .get-in-touch,
    .start-chatting {
        padding: 10px;
        width: 100%;
    }
    .navbar-toggle {
        color: #FACFAD; /* Light color for the hamburger icon */
    }
    
    .navlinks a:hover
    {
        color: #F8BD7F;
    }
    .get-in-touch:hover{
        border-color: #f87f7f;
        color: #f87f7f;
    }
    
    .start-chatting:hover {
        background-color: #f87f7f;
    }
}
